<!doctype HTML>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type='text/javascript' src='/js/bootstrap.js'></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body>
    <style type="text/css">
      .user {
        clear: both;
        line-height: 1em;
        height: 1em;
      }
      .user .destroy, .user .name {
        float: left;
      }
    </style>
    <div id='container'>
      <header id='header'></header>
      <div id='content'>
      </div>
    </div>
    <footer id='footer'></footer>
  </body>
</html>
